<div ng-controller="videoRecord as controller">
	<div class="row">
		<div class="col-lg-7 record-left">
			<rd-widget>
				<rd-widget-body>
					<!--<video width="100%" height="400" preload="auto" controls>
							<source src="" type="video/mp4"></source>
						</video>-->
					<style type="text/css">
						.video-container {
							width: 100%;
							height: 100%;
							margin: auto;
							overflow: hidden;
						}

						.video {
							background-color: black;
						}

						.video-js {
							width: 100% !important;
							height: 100% !important;
						}

						.vjs-poster {
							background-size: cover !important;
						}

						.record-video-dimensions.vjs-fluid {
							padding-top: 62.0689%;
						}
					</style>
					<div class="video-container">
						<video id="record-video" class="video-js vjs-default-skin vjs-big-play-centered" controls>
						</video>
						<link rel="stylesheet" type="text/css" href="videojs/video-js.css">
						<link rel="stylesheet" type="text/css" href="videojs/videojs-watermark.css">

						<script type="text/javascript" src="videojs/video.js"></script>
						<script type="text/javascript" src="videojs/videojs-watermark.js" async></script>
						<script type="text/javascript" src="videojs/flv.min.js" async></script>
						<script type="text/javascript" src="videojs/videojs-flvjs.min.js" async></script>
						<script>
							videojs("record-video", {
								'controls': true,
								'preload': "none",
								'poster': "img/main-background.jpg",
								'autoplay': false,
								'fluid': true
							});
							//								console.log(videojs("record-video"));
						</script>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-5 record-right">
			<rd-widget>
				<rd-widget-body>
					<record-query id="record-result"></record-query>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<rd-widget>
				<rd-widget-body>
					<div class="jourey-list">
						<!--Video File List-->
						<h2>{{devicename}}</h2>
						<hr/>
					</div>

					<div class="row car-list" ng-controller="recordListCtrl">
						<div class="col-lg-12">
							<rd-widget>
								<rd-widget-body>
									<div class="alarm-list record-list table-responsive">

										<table class="table table-condensed table-hover">
											<thead>
												<tr>
													<th>&#35;</th>
													<th class="sortable" ng-click="singleSort('Date')">
														Time
														<span class="caret-blank" ng-class="{'caret-down':sortDescend('Date'), 'caret-up':sortAscend('Date')}">
																								</span></th>
													<th class="sortable" ng-click="singleSort('duration')">
														Start
														<span class="caret-blank" ng-class="{'caret-down':sortDescend('beginTime'), 'caret-up':sortAscend('beginTime')}">
																								</span></th>
													<th class="sortable" ng-click="singleSort('beginTime')">
														End
														<span class="caret-blank" ng-class="{'caret-down':sortDescend('endTime'), 'caret-up':sortAscend('endTime')}">
																								</span></th>
													<th class="sortable" ng-click="singleSort('endTime')">
														Length
														<span class="caret-blank" ng-class="{'caret-down':sortDescend('duration'), 'caret-up':sortAscend('duration')}">
																								</span></th>
													<th class="sortable" ng-click="singleSort('nFileLen')">
														Size
														<span class="caret-blank" ng-class="{'caret-down':sortDescend('nFileLen'), 'caret-up':sortAscend('nFileLen')}">
																								</span></th>
													<th class="sortable" ng-click="singleSort('nChannel')">
														Channel
														<span class="caret-blank" ng-class="{'caret-down':sortDescend('nChannel'), 'caret-up':sortAscend('nChannel')}">
																								</span></th>
													<th>Option</th>
												</tr>
											</thead>
											<tbody>
												<list-loading>
													<tr ng-repeat="v in records | orderBy:[filterSort, sortType, secondSortType, thirdSortType]" ng-show="(filterSort(v) == 1) && ($index >= firstIndex) && ($index < lastIndex)">
														<td class="table-row-index">{{ $index + 1 }}</td>
														<td>{{v.Date}}</td>
														<td>{{v.beginTime}}</td>
														<td>{{v.endTime}}</td>
														<td>{{v.duration}}</td>
														<td>{{v.size}}</td>
														<td>{{v.nChannelName}}</td>
														<td>
															<div class="btn-group" uib-dropdown is-open="false">
																<button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">
																        <span class="fa fa-ellipsis-h" style="color: #333"></span>
																    </button>
																<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
																	<li role="menuitem" ng-click="play(v.szDevIDNO, v.szFile, v.nChannel, v.nFileLen, v.apiDate, v.uiBegintime, v.uiEndtime)">
																		<a href="javascript:void(0)"><i class="fa fa-play fa-fw" aria-hidden="true"></i>&nbsp; Play Video</a>
																	</li>
																	<!--<li role="menuitem" ng-click="download(v.szDevIDNO, v.szFile, v.nChannel, v.nFileLen, v.apiDate, v.uiBegintime, v.uiEndtime)">-->
																	<li role="menuitem" ng-click="download(v)">
																		<a href="javascript:void(0)"><i class="fa fa-cloud-download fa-fw" aria-hidden="true"></i>&nbsp; Download</a>
																	</li>
																	<li role="menuitem" ng-click="track(v.szDevIDNO, v.callBegin, v.callEnd)">
																		<a href="javascript:void(0)"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i>&nbsp; Track</li>
																</ul>
															</div>
														</td>
													</tr>
												</list-loading>
											</tbody>
										</table>
									</div>
								</rd-widget-body>
								<rd-widget-footer>
									<ul uib-pagination total-items="(records | filter:data.filterTable).length" ng-model="data.currentPage" ng-change="updatePageIndexes()" max-size="data.maxPaginationSize" items-per-page="data.itemsPerPage" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
									</ul>
								</rd-widget-footer>
							</rd-widget>
						</div>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
</div>
