<div class="login-bg">
	<form name="form" ng-submit="form.$valid && rp.resetPW(form)" role="form" class="login-form"  novalidate>
		<div class="form-group" ng-class="{ 'pw-error': form.$submitted && form.originPassword.$invalid }">
			<label for="inputPassword">New Password</label>
			<input type="password" class="form-control" name="inputPassword" ng-model="inputPassword" minlength="6" required />
			<div class="help-block rp-error" ng-messages="form.$submitted && form.inputPassword.$error">
				<div ng-message="required">Please enter a value for this field.</div>
				<div ng-message="minlength">Your field is too short.</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'pw-error': form.$submitted && form.inputPassword.$invalid }">
			<label for="inputConfirmPassword">Confirm Your Password</label>
			<input type="password" class="form-control" name="inputConfirmPassword" ng-model="inputConfirmPassword" minlength="6" pwvalid={{inputPassword}} required/>
			<div class="help-block rp-error" ng-messages="form.$submitted && form.inputConfirmPassword.$error">
				<div ng-message="required">Please enter a value for this field.</div>
				<div ng-message="minlength">Your field is too short.</div>
				<div ng-message="pwvalid">Password not match!</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" ng-disabled="rp.loading" class="btn btn-primary">Update</button>
			<img ng-if="rp.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
		</div>
		<div ng-if="rp.error" class="alert alert-danger">{{rp.error}}</div>
	</form>
</div>